

{% if page.postList %}
    {% assign arr = site.categories[page.postList] %}
    {% assign limitNum = null %}
{% else  %}
    {% assign arr = site.posts %}
    {% assign limitNum = 30 %}
{% endif %}


<ul class="post-list">
    {% for post in arr limit: limitNum reversed %}
    <li>
        <h3 class="post-link">
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <p> {{ post.excerpt | striphtml }} </p>
        <div class="post-meta">
            <span>更新：{{ post.date | date: "%Y-%m-%d %H:%M" }}</span>
            <span>来源：{{ post.author | default: "恰好"}}</span>
        </div>
    </li>
    {% endfor %}
</ul>