/**
 * Reset some basic elements
 */

/**
 * Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* ,ul,{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
}
blockquote{
    font-size: 12px;
}
.cf {
    @extend %clearfix;
}

.wrapper {
    width: $contain-width;
    max-width: $contain-width;
}

// .main-contain

// .main-aside

// site
.site-header{
    border-top-color: $primary-color;
    height: $site-header-height;
}
.nav-wrapper{
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #fdfdfd;
    overflow: hidden;

}
.nav-wrapper + .page-content{
    padding-top: $site-header-height + 30px;
}


.clearfix::after,.cf:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear-after{content:".";display:block;height:0;clear:after;visibility:hidden}
.fl { float: left; }
.fr { float: right; }
.rlt { position: relative; }
.abs { position: absolute; }
.dn { display: none; }
.db { display: block; }
.dib { display: inline-block; }
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.ell, .toe { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ell2, .toe2 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

@for $i from 1 through 8 {
    $num: $i * 5;
    $numPx: $num + px;
    .mt#{$num}{margin-top: $numPx; }
    .mb#{$num}{margin-bottom: $numPx; }
    .mr#{$num}{margin-right: $numPx; }
    .ml#{$num}{margin-left: $numPx; }
    .mtb#{$num}{margin-top: $numPx; margin-bottom: $numPx; }
    .mlr#{$num}{margin-left: $numPx; margin-right: $numPx; }
    .mg#{$num}{margin: $numPx; }

    .pt#{$num}{padding-top: $numPx; }
    .pb#{$num}{padding-bottom: $numPx; }
    .pr#{$num}{padding-right: $numPx; }
    .pl#{$num}{padding-left: $numPx; }
    .ptb#{$num}{padding-top: $numPx; padding-bottom: $numPx; }
    .plr#{$num}{padding-left: $numPx; padding-right: $numPx; }
    .pd#{$num}{padding: $numPx; }

    .fs#{$i+9}{font-size: $i+9+Px; }
}

// text-color

.text-primary{color: $primary-color;}
.text-info{color: $info-color;}
.text-success{color: $success-color;}
.text-warning{color: $warning-color;}
.text-error{color: $error-color;}
.text-link{color: $link-color;}

.text-def{color:#2f353b}
.text-black{color:black}
.text-red{color:red}
.text-white{color:white}
.text-blue{color:blue;}